@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
/* Hide scrollbars for all browsers including Safari */
::-webkit-scrollbar,
::-webkit-scrollbar-vertical {
  width: 0 !important;
  height: 0 !important;
  display: none;
  background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto; /* Changed from scroll to auto */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS/Safari */
}

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --color-primary: #b59152;
  --color-secondary: #204d88;
  --color-background-primary: #f2f0ec;
  --color-background-secondary: #d2b583;
  --color-background-tertiary: rgba(246, 237, 220, 0.64);
  --color-text-disabled: #d9d9d9;
  --font-size-h1: 36px;
  --font-size-h2: 26px;
  --font-size-h3: 16px;
  --font-size-body: 12px;
  background-color: var(--color-background-primary);
}
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-background-primary);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-h1);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: var(--font-size-h2);
}

@media screen and (min-width: 1800px) {
  :root {
    --font-size-h1: 38px;
    --font-size-h2: 28px;
    --font-size-h3: 18px;
    --font-size-body: 14px;
  }
}

@media screen and (min-width: 2200px) {
  :root {
    --font-size-h1: 42px;
    --font-size-h2: 32px;
    --font-size-h3: 22px;
    --font-size-body: 18px;
  }
}
